<h2>Edit Note</h2>

<form action="/notes/<%= @note.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="content">Update Notes:</label>
  <input type="text" name="note[content]" id="content" value="<%= @note.content %>">

  <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
</form>

<br>

<form action="/notes/<%= @note.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <button class="btn waves-effect waves-light" type="submit" name="action">Delete</button>
</form>