<h2>Create a new Note</h2>

<form action="/notes" method="POST">

  <label for="content">Notes:</label>
  <input type="text" name="note[content]" id="content">

  <input type="submit" id="submit" value="Submit">
</form>