<h2>Create a new Note</h2>

<form action="/notes" method="POST">

  <label for="content">Notes:</label>
  <input type="text" name="note[content]" id="content">

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
</form>