<h2>Create new Medication</h2>

<form action="/medicines" method="POST">

  <label>Medicine Name:</label>
  <input type="text" name="medicine[name]" id="medicine_name">

  <label>Dosage:</label>
  <input type="text" name="medicine[dose]" id="dose">

  <label>Description:</label>
  <input type="text" name="medicine[description]" id="description">

  <input type="submit" id="submit" value="Submit">
</form>