.header {
  margin-top: 0;
}

.collection-header h4 {
  color: white;
}

.list {
  text-align: left;
}

#baby {
  max-width: 100%;
}


.brand-logo img {
  vertical-align: middle;
  position: relative;
  width: 40px;
  top: -4px;
}


#tagline {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-container {
  width: 400px;
}

.page-header {
  font-size: 30px;
}