.header {
  margin-top: 0;
}

.collection-header h4 {
  color: white;
}

.list-items {
  text-align: left;
  padding: 20px 20px 0px 20px;
  font-size: 13px;
}

#baby {
  max-width: 100%;
}

.brand-logo img {
  vertical-align: middle;
  position: relative;
  width: 40px;
  top: -4px;
}

#tagline {
  padding-top: 50px;
  padding-bottom: 50px;
}

.form-container {
  width: 400px;
}

.page-header {
  font-size: 30px;
}

.message {
  background-color: #ff80ab;
  border-color: #64ffda;
  color: #ffffff;
  padding: 10px;
}

.box-header {
  font-size: 15px;
  margin: 1px;
}

.dash-items {
  font-size: 13px;
}

.baby-items {
  font-size: 14px;
  padding-top: 5px;
}

.baby-items.first {
  padding-top: 20px;
}
.image-box {
  margin: 5px 20px 0px 20px;
}

.logout {
  float: left;
  margin-left: auto;
  margin-right: auto;
}