<h2>Sign Up</h2>

<form action="/signup" method="POST">

  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username" placeholder="username">

  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password" placeholder="password">

  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email" placeholder="email">

  <label for="due_date">Due Date:</label>
  <input type="date" name="baby[due_date]" id="due_date">

  <input type="submit" id="sign_up" value="Sign Up">
</form>