<h2>Sign Up</h2>

<form action="/signup" method="POST">

  <label>Username:</label>
  <input type="text" name="user[username]" placeholder="username">

  <label>Password:</label>
  <input type="password" name="user[password]" placeholder="password">

  <label>Email:</label>
  <input type="email" name="user[email]" placeholder="email">

  <label>Due Date:</label>
  <input type="date" name="baby[due_date]">

  <input type="submit" id="sign_up" value="Sign Up">
</form>