<h2>Sign Up</h2>

<div class="row">
  <form class="col s12" action="/signup" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <label for="username">Username</label>
        <input type="text" name="user[username]" id="username">
      </div>
      <div class="input-field col s6">
        <label for="password">Password</label>
        <input type="password" name="user[password]" id="password">
      </div>
      <div class="input-field col s6">
        <label for="email">Email</label>
        <input type="email" name="user[email]" id="email">
      </div>
      <div class="input-field col s6">
        <label for="due_date">Due Date</label>
        <input class="datepicker" type="text" name="baby[due_date]" id="due_date">
      </div>
    <input class="waves-effect waves-light btn" type="submit" id="sign_up" value="Sign Up">
  </form>
</div>