<div class="form-container row center">
  <h2 class="page-header">Login</h2>
  <form class="center" action="/login" method="POST">

    <div class="input-field row">
      <label for="username">Username</label>
      <input type="text" name="username" id="username">
    </div>

    <div class="input-field row">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
  </form>
</div>